@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@media (max-width: 768px) {
  .workers {
    padding-bottom: 100px;
    padding-bottom: 128px;
  }
  .slider-wrapper {
    margin: 0 10px 40px;
  }
  .slider-wrapper .swiper-slide-button {
    display: none;
  }
}
.workers {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.workers * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.workers .workers-title {
  padding-top: 50px;
}
.workers .workers__slider--wrapper {
  overflow: hidden;
  max-width: 1024px;
  width: 100%;
  margin: 0 70px 55px;
  padding-top: 150px;
}
.workers .workers__card--item {
  height: 200px;
  max-width: 360px;
  width: 10%;
  color: #000000;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(17, 17, 17, 0.1019607843);
  box-shadow: 0px 9.05px 26.57px 0px rgba(215, 228, 249, 0.2509803922);
}
.workers .workers__user-name {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  padding-bottom: 24px;
  margin-top: -70px;
}
.workers .workers__user-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 18px;
  border: 3px solid #fff;
  position: relative;
  top: -80px;
}
.workers .workers__card--list .workers__card-item {
  font-size: 1.15rem;
  color: #000000;
  font-weight: 500;
  margin: 14px 0 40px;
}
.workers .workers__user-profession {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: center;
}
.workers .workers__card--list .workers__card-item .workers__message-button {
  font-size: 1.25rem;
  padding: 10px 35px;
  color: #030728;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  background: #fff;
  border: 1px solid transparent;
  transition: 0.2s ease;
}
.workers .workers__card--list .workers__card-item .workers__message-button:hover {
  background: rgb(255, 255, 255);
  border: 1px solid #fff;
  color: #fff;
}
.workers .workers__slider--wrapper .swiper-pagination-bullet {
  background: #FD9222;
  height: 13px;
  width: 13px;
  opacity: 0.5;
}
.workers .workers__slider--wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}
.workers .workers__slider--wrapper .swiper-slide-button {
  color: #b6b6b6;
  margin-top: -55px;
  transition: 0.2s ease;
}
.workers .workers__slider--wrapper .swiper-slide-button:hover {
  color: #FD9222;
}
.workers .workers__dialog {
  background: #FAFAFA;
  width: 100%;
  max-width: 517px;
  height: 631px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  opacity: 1px;
  border: 1.5px solid rgba(0, 0, 0, 0.031372549);
  box-sizing: border-box;
}
.workers .regButton {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 6px 24px;
  cursor: pointer;
}
.workers .regButton:hover {
  background: #ccc;
}
.workers #window {
  width: 100%;
  max-width: 517px;
  height: 631px;
  margin: 40px auto;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  z-index: 150;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.workers .form {
  width: 100%;
  max-width: 517px;
  height: auto;
  margin: -15px auto 20px auto;
}
.workers .input {
  box-sizing: border-box;
  width: 260px;
  padding: 5px;
  margin-bottom: 20px;
}
.workers .gray {
  opacity: 0.8;
  padding: 15px;
  background-color: rgb(1, 1, 1);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 100;
  overflow: auto;
}
.workers .workers--modal__title {
  width: 298px;
  height: 56px;
  position: relative;
  top: 40px;
  left: 40px;
  gap: 0px;
  opacity: 0px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-align: left;
}
.workers .workers--modal__form {
  width: 437px;
  height: 392px;
  position: relative;
  top: 68px;
  left: 20px;
  gap: 19px;
  opacity: 0px;
}
.workers .input {
  width: 437px;
  height: 66px;
  padding: 22px 24px 22px 24px;
  gap: 40px;
  border-radius: 13px;
  border: 1.5px solid rgba(0, 0, 0, 0.031372549);
  opacity: 0px;
  box-shadow: 0px 5.44px 5.44px 0px rgba(0, 0, 0, 0.031372549);
}
.workers .input::-moz-placeholder {
  color: rgba(64, 64, 64, 0.3019607843);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.94px;
  letter-spacing: -0.02em;
  text-align: left;
}
.workers .input::placeholder {
  color: rgba(64, 64, 64, 0.3019607843);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.94px;
  letter-spacing: -0.02em;
  text-align: left;
}
.workers .phone_mask {
  color: rgba(64, 64, 64, 0.3019607843);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.94px;
  letter-spacing: -0.02em;
  text-align: left;
}
.workers .ukraine-svg {
  position: absolute;
  top: 192.5px;
  left: 25px;
}
.workers .comment {
  height: 137px;
}
.workers .show-modal-btn {
  width: 222px;
  height: 50px;
  padding: 14px 40px 14px 40px;
  gap: 14px;
  border-radius: 100px;
  border: 1px solid #FD9222;
  opacity: 0px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 128px;
  background: #FAFAFA;
}
.workers .show-modal-btn:hover {
  background-color: #FD9222;
  color: #FFFFFF;
}
.workers .close-modal-btn {
  width: 133px;
  height: 45px;
  padding: 14px 40px 14px 40px;
  gap: 14px;
  border: none;
  border-radius: 100px;
  background: #FD9222;
  position: relative;
  top: 75px;
  left: 22.5px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  color: #FFFFFF;
}
.workers .close-modal-btn:hover {
  border: 1px solid #FD9222;
  background: #FFFFFF;
  color: #000000;
}