@media (max-width: 768px) {
    .workers{
      padding-bottom: 100px;
      padding-bottom: 128px;
    }
    .slider-wrapper {
      margin: 0 10px 40px;
    }
    .slider-wrapper .swiper-slide-button {
      display: none;
    }
}